.lightbluebox {
    position: absolute;
    left: 0;
	top: 0;
    height: 1390px;
    width: 1390px; 
    background: #0097b2;
    opacity: 0.8;
    z-index: -1;
}


.con {
    font-family: 'Glacial Indifference';
    color: white;
    position: absolute;
    top: 60px;
    left: 230px;
	text-align: justify;
}

.jellyfish {
    position: absolute;
    top: 70px;
    left: 20px;
    border-width: 2px 2px;
    border-color: white;
    border-style: solid;
    height:190px;
    width:190px; 
}

.container {
  position: absolute;
  width: 50%; 
}

.overlay {
  position: absolute;
  top: 72px;
  left: 23px;
  height: 190px;
  width: 189px;
  opacity: 0;
  transition: .3s ease;
  background-color:#0a2630;
  z-index: 1;
  
  
}

.container:hover .overlay {
  opacity: 0.9;
  z-index: 2;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.logo {
    position: absolute;
    top: 0px;
    left: 25px;
    color: white;
    font-family: 'Poppins';
    z-index: 1;
    transition: transform 0.3s, text-shadow 0.3s ease;
}

.logo:hover {
  text-shadow: 0 0 10px rgb(204, 89, 1);
  transform:scale(1.1);
}

.about {
    position: absolute;
    top:0px;
    right:350px;
    color:white;
    text-align: right;
    font-family: 'Poppins';
    z-index: 1;
    transition: transform 0.3s, text-shadow 0.3s ease;
}

.about:hover {
  transform:scale(1.1);
}
 
 .life {
   position: absolute;
   top:0px;
   right:235px;
   color:white;
   text-align: right;
   font-family: 'Poppins';
   z-index: 1;
   transition: transform 0.3s, text-shadow 0.3s ease;
 }
 
 .life:hover {
  transform:scale(1.1);
}

 .conserve {
   position: absolute;
   top:0px;
   right:100px;
   color:white;
   text-align: right;
   font-family: 'Poppins';
   z-index:1;
   transition: transform 0.3s, text-shadow 0.3s ease;
 }

 .conserve:hover {
  transform:scale(1.1);
}
 
  .log {
    position: absolute;
    top:0px;
    right:30px;
    color:white;
    text-align: right;
    font-family: 'Poppins';
    z-index:1;
    transition: transform 0.3s, text-shadow 0.3s ease;
  }

  .log:hover {
    transform:scale(1.1);
  }


  .title {
    position: absolute;
    top: 10px;
    right: 550px;
    font-size: 55px;
    color: white;
    text-align: left;
    line-height: 0.8em;
    font-family: 'Glacial Indifference';
  }

  .continuation {
    position: absolute; 
    top: 10px;
    right: 220px;
    color: #090088;
    font-family: 'Glacial Indifference';
    font-size: 55px;
    line-height: 0.8em;
}

  .p1 {
    position: absolute;
    top: 110px;
    right: 150px;
    font-family: 'Glacial Indifference';
    color:white;
  }

  .p2 {
    position: absolute;
    top: 230px;
    right: 110px;
    font-family: 'Glacial Indifference';
    color:white;
  }

  .coral {
    position:absolute;
    top: 360px;
    left: 20px;
    height: 190px;
    width: 190px;
    border: 2px solid white;
  }
  
 .fish {
    z-index: 1;
    position:absolute;
    bottom: 10px;
    right:50px;
    height:300px;
    width:520px;
	border: 3px solid white;
  }
  
.container2 {
  position: absolute;
  width: 50%; 
}

.overlay2 {
  position: absolute;
  top: 362px;
  left: 22px;
  height: 190px;
  width: 190px;
  opacity: 0;
  transition: .3s ease;
  background-color:#0a2630;
  z-index: 1;
  
  
}

.container2:hover .overlay2 {
  opacity: 0.9;
  z-index: 2;
}

.text2 {
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}


  .p3 {
    position: absolute;
    top: 347px;
    right: 620px;
    font-family: 'Glacial Indifference';
    color:white;
    line-height: 0.9em;
    font-size: 30px;
  }


  .p4 {
    position: absolute;
    top: 405px;
    right: 700px;
    font-family: 'Glacial Indifference';
    color:white;
    line-height: 0.9em;
    font-size: 15.5px;
  }

  body {
      background-image: url(pisaycaragabalangayboat.JPG);
      background-repeat: no-repeat;
      background-size: 1100px 845px;
      
  }

  .water{
    position:absolute;
    bottom: 0px;
    left:0px;
    height: 1390px;
    width: 1390px;
    z-index: -2;
  }